@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    min-height: 100vh;
    background-color: hsl(240, 78%, 98%);
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    padding: 60px 20px;
    text-align: center;
}

.title {
    font-size: 32px;
    color: hsl(233, 13%, 49%);
}

.switch input {
    opacity: 0;
}

.switch {
    display: inline-block;
    width: 60px;
    height: 32px;
    position: relative;
    cursor: pointer;
}

.slider {
    position: absolute;
    background: linear-gradient(180deg, hsl(236, 72%, 79%) , hsl(237, 63%, 64%));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 35px;
}

.slider:hover {
    background: hsl(236, 72%, 79%);
}

.slider::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    bottom: 4px;
    left: 4px;
    transition: all .4s ease-in-out;
}

input:checked+.slider::before {
    transform: translateX(26px);
}

.pricing {
    color: hsl(234, 14%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.pricing label {
    margin: 0 20px ;
}

.pricing-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pricing-box {
    background: #FFF;
    padding: 50px 40px;
    border-radius: 12px;
}

.box-title {
    color: hsl(233, 13%, 49%);
    font-size: 18px;
    margin-bottom: 30px;
}

.price-annually,
.price-monthly {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(232, 13%, 33%);
}

.price {
    font-size: 65px;
    padding-left: 7px;
}